header{
  height: 100px;
}
nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  height: 60px;
  align-items: center;
}
#logo{
  height: 100%;
}